/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

/* Nav Styles */

.nav {
    list-style-type: none;
}

ul.topnav {
    list-style-type: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
}


ul.topnav li a {
    display: block;
    text-align: center;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 5px;
}

ul.topnav li.name {
  display: block;
  font-size: 1.7em;
  font-weight: bold;
}

ul.topnav .button a:hover:not(.active) {
  background-color: #111;
  color: white;
}

ul.topnav li.button {
  background-color: #fff;
}


/* Section Styles */

header {
  margin: 40px 20px 0 20px;
}

h1 {
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

h2 {
 font-size: 1.2rem;
}

.wrapper {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 40px 20px 40px;
  width: 100%;
}

.profile-image {
  margin: 0 auto;
  max-width: 100%;
}

.portfolio-images {
  margin: 0 auto;
  max-width: 100%;
}

.contact {
  margin-bottom: 65px;
}

.item {
  margin: 0 7.5px 30px 7.5px;
}

.item img {
  transition: .5s;
}

.item img:hover {
  box-shadow: 5px 8px 5px #888888;
}

.item p {
  padding: 0 20px;
}

.extra-content {
  margin: auto;
  width: 50%;
  padding:;
}

.phone {
  padding-top: 20px;
}

/* Styles for footer */

footer {
  font-family: 'Source Code Pro', monospace;
  padding: 0 30px;
}

.footer-nav {
  list-style: none;
  padding: 30px 0px;
  display: block;
  font-weight: bold;
  border-top: 2px #e7e7e7 solid;
}

.footer-nav a {
  text-decoration: none;
  color: black;
}

.footer-name {
  float: left;
}

.back-to-home {
  float: right;
}

.bottom-button {
  display: none;
}

.bottom-button a {
  padding: 15px 20px;
}

.bottom-button a:hover:not(.active) {
  background-color: #111;
  color: white;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/* Styles for larger screens */

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .name {
    flex-basis: 100%;
  }

  .topnav {
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }

  .main-header {
    padding: 0 30px;
    display: flex;
    flex-direction: row-reverse;
  }

  .main-header p {
    margin-top: 0;
    font-size: 1.35em;
    padding-right: 40px;
    text-align: left;
  }

  .extra-content p {
    font-size: 1.35em;
  }

  ul.topnav li.button {
    background-color: #fafafa;
  }


  .back-to-home {
    display: none
  }

  .bottom-button {
    display: block;
    float: right;
  }

  footer {
    margin-bottom: 30px;
  }

}




@media screen and (min-width: 1024px){

    .main-header p {
      font-size: 1.15em;
    }

    .extra-content p {
      font-size: 1.15em;
    }

    .grid {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .topnav {
      display: block;
      padding: 30px 30px 0 30px;
      margin: 0;
    }

    .name {
      float: left;
    }

    .button {
      float: right;
    }


    footer {
      margin-bottom: 0;
    }

}
